/*Common Body*/
body{
    margin: 0px;
    background: #efeee7;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

/*Common Header*/
header{
    background: #ffffff;
    overflow: auto;
    height: 77px;
    border-bottom: 3px solid #cccccc
}

#headerContent{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

header h1{
    margin: 0px;
    float: left;
    color: white;
    background: #4aaaa5;
    padding: 20px;
}

a{
    float: right;
    padding: 0px 10px 0px 10px;
    color: #777777;
}

/*Common Marin Content*/
#mainContent{
    clear: both;
    width: 954px;
    margin-left: auto;
    margin-right: auto;
    background: #ffffff;
    margin-top: 30px;
    border: 3px solid #dddddd
}

#contentHeader{
    color: #4aaaa5;
    padding: 20px;
    margin: 0px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

#pic{
    padding: 20px 20px 0px 20px;
    float: left;
}

#text{
    padding: 20px;
}

/*Common hr*/

hr {
    width: 920px;
    height: 3px;
    background-color:#cccccc;
    border: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    }

/*Common Footer*/
footer{
    background: #666666;
    color: #cccccc;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 440%;
    border-top: 8px solid #4aaaa5;
}


/*Contact Specific*/
form{
    padding: 20px;
}

.labels{  /*Why does this not work*/
    margin-top: 5px;
    margin-bottom: 5px;
}

input{
    /*Stuff for submit button*/
}

#submit{
    color: white;
    background: #4aaaa5;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#name, #email{
    padding: 10px;
    width: 895px; /*Why does this line work*/
  }

#message{
    padding: 10px;
    width: 895px; /*Why does this line work*/
    height: 80px;
  }

